<ul class="nav side-menu">
    <volist name="menus" id="m">
        <li><a><i class="fa fa-clone"></i>{$m.name} <if condition=" $m.children gt 0 "><span class="fa fa-chevron-down"></span></if></a>
            <if condition=" $m.children gt 0 ">
                <ul class="nav child_menu">
                    <volist name="m.children" id="ms">

                        <li><a  <if condition=" $ms.menuUrl neq '' "> href="__APP__/{$ms.menuUrl}"</if> >{$ms.name}<if condition=" $ms.children gt 0 "><span class="fa fa-chevron-down"></span></if></a>
                            <if condition=" $ms.children gt 0 ">
                                <ul class="nav child_menu">
                                    <volist name="ms.children" id="mss">
                                        <li class="sub_menu"><a href="__APP__/{$mss.menuUrl}">{$mss.name}</a></li>
                                    </volist>
                                </ul>
                            </if>
                        </li>
                    </volist>
                </ul>
            </if>
        </li>
    </volist>

</ul>