<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="keywords" content=" {$system.keywords}">
<meta name="description" content=" {$system.remark}">
<meta name="baidu-site-verification" content="MkUKHRpWI4" />
<link rel="Shortcut Icon" href="/favicon.ico" />
<link rel="stylesheet" href="__JS__/swiper-3.2.5/swiper-3.2.5.min.css" />
<link rel="stylesheet" href="__HOME__/css/default.css" />
<link rel="stylesheet" href="__HOME__/css/header.css" />
<link rel="stylesheet" href="__HOME__/css/footer.css" />
<script type="text/javascript" src="__JS__/jquery/jquery.min.js"></script>
<script type="text/javascript">
    var ENV = '__APP__';
</script>