
/*面包屑和分页*/
.shj_crumbs{width: inherit; height: 36px; line-height: 56px;}
.shj_crumbs_now{color: #127a59;}
.shj_crumbs_icon{font-size: 14px; padding: 0 2px;}

/*装修日记内容页*/
.shj_srj_box{width: 100%; height: auto; }
.shj_srj{width: 1200px; height: auto; margin: 0 auto; padding: 0 10px;}
.shj_srj_left_block{width: 930px; height: auto; margin-top: 20px; float: left;}
.shj_srj_right_block{width: 240px; height: auto; margin: 20px 0 0 30px; float: left;}
.shj_srj_title{width: 880px; height: 175px; padding: 20px 25px; background: #f8f8f8;}
.shj_srj_title_imgbox{width: 210px; height: 175px; border-radius: 8px; overflow: hidden; float: left;}
.shj_srj_title_imgbox>img{width: 210px; height: 175px;}
.shj_srj_title_info{width: 510px; height: 175px; margin-left: 20px; float: left;}
.shj_srj_title_info>h2{font-size: 24px;}
.shj_srj_title_info>h6{color: #a2a2a2; margin: 5px 0; position: relative; padding-left: 20px;}
.shj_srj_title_info>h6>span{color: #000;}
.shj_srj_title_info .shj_srj_mbottom{margin-bottom: 13px; padding-left: 0px;}
.shj_srj_title_icon{display: block; position: absolute; top: 0; left: 0; width: 17px; height: 17px; background: url('images/icon.png') no-repeat; }
.shj_srj_title_icon1{ background-position: -6px -774px;}
.shj_srj_title_icon2{ background-position: -30px -775px;}
.shj_srj_title_icon3{ background-position: -54px -774px;}
.shj_srj_title_icon4{ background-position: -77px -774px;}
.shj_srj_title_wxewm{float: left; width: 98px; height: 158px; padding-top: 17px;}
.shj_srj_content{width: 894px; height: auto; margin-left: 35px; border-left: 1px solid #eeeeee; margin-bottom: 50px;}
.shj_srj_item{width: 794px; height: auto; padding: 50px 30px 42px 70px; border-bottom: 1px solid #eee; position: relative;}
.shj_srj_item img{max-width: 794px; height: auto; margin-bottom: 10px;}
.shj_srj_item_title{position: absolute; top: 50px; left: -39px; width: 78px; height: 78px; border-radius: 50%; background: #127a59; color: #fff; text-align: center; line-height: 78px; font-size: 14px;}
.shj_srj_item>h4{color: #127a59; margin-bottom: 15px;}
.shj_srj_item>p{line-height: 30px; font-size: 14px;}
.shj_srj_item_imgbox{width: inherit; height: 182px; margin: 25px 0 15px; position: relative;}
.shj_srj_item_imgbox .swiper-slide{width: 191px; height: 182px; margin-right: 10px;}
.shj_srj_item_imgbox .swiper-slide:last-child{margin-right: 0;}
.shj_srj_item_img{width: 191px; height: 182px;}
.shj_srj_item_imgnum{position: absolute; bottom: 10px; left: 0; padding: 1px 15px; background: #000; color: #fff;}
.shj_srj_item_msg{width: inherit; height: auto;}
.shj_srj_item_msg_head{width: inherit; height: 50px; line-height: 50px; border-bottom: 1px solid #eee;}
.shj_srj_item_msg_head>h6{float: left;}
.shj_srj_item_msg_head .bdsharebuttonbox{float: right; margin-top: 5px;}
.shj_srj_item_msg_head .bdsharebuttonbox>span{float: left; line-height: 40px; color: #989898;}
.shj_srj_item_comment{width: inherit; height: auto;}
.shj_srj_item_comment>h5{height: 50px; line-height: 65px; }
.shj_srj_item_comment>h5 .shj_srj_item_comment_time{color: #a5a5a5; font-size: 12px; margin-left: 10px;}
.shj_srj_item_comment>p{line-height: 30px;  font-size: 14px;}
.shj_srj_item_comment_huifu_wrap{border-top: 1px dashed #e9e9e9; width: inherit; height: auto; padding: 10px 0; margin-top: 20px;}
.shj_srj_item_comment_huifu_box{width: 739px; height: auto; border: 1px solid #eee; background: #f8f8f8; padding: 0 15px; margin-left: 25px;}
.shj_srj_item_comment_huifu_box>ul>li{width: 739px; height: auto; padding: 18px 0; line-height: 30px; border-bottom: 1px dashed #e9e9e9; position: relative;}
.shj_srj_item_comment_huifu{width: 700px; height: auto;}
.shj_srj_item_comment_huifu>h5{display: inline;}
.shj_srj_item_comment_huifu>span{font-size: 14px; margin: 0 10px;}
.shj_srj_item_comment_huifu>.shj_srj_item_comment_user{color: #c69a7a;}
.shj_srj_item_comment_huifu>p{display: inline; font-size: 14px;}
.shj_srj_item_comment_huifu_btn{color: #a5a5a5; font-size: 14px; position: absolute; right: 0; top: 20px; display: block;}
.shj_srj_item_comment_huifu_input{width: inherit; height: 55px; font-size: 14px; border: 1px solid #eee; text-indent: 10px; margin-top: 10px;}
.shj_srj_item_comment_huifu_tj{width: inherit; height: 50px; text-align: right; line-height: 50px;}
.shj_srj_item_comment_huifu_tj>h6{float: right; color: #a5a5a5; margin-right: 10px;}
.shj_srj_item_comment_huifu_tjbtn{width: 65px; height: 30px; background: #4c4c4c; color: #fff; border-radius: 8px; float: right; margin-top: 10px; cursor: pointer;}
.shj_srj_item_comment_huifu_box>ul>li:last-child{border-bottom: none;}
.shj_srj_item_huifu{width: inherit; height: auto;}
.shj_srj_item_huifu_tj{width: inherit; height: 60px; text-align: right; line-height: 60px;}
.shj_srj_item_huifu_tj>h6{float: right; color: #a5a5a5; margin-right: 10px;}
.shj_srj_item_huifu_tjbtn{width: 100px; height: 40px; background: #f18e0e; color: #fff; border-radius: 8px; float: right; margin-top: 10px; cursor: pointer;}
.shj_srj_tbm{width: 240px; height: 355px; border: 1px solid #eee; background: #f8f8f8;}
.shj_srj_tbm>img{width: 240px; height: 110px;}
.shj_srj_tbm_box{width: 220px; height: 235px; padding: 0 10px; margin-top: 3px;}
.shj_srj_tbm_input{width: 218px; height: 30px; border: 1px solid #eee; text-indent: 10px; margin-top: 10px; color: #a4aaa6;}
.shj_srj_tbm_tjbtn{width: 220px; height: 35px; margin-top: 15px; background: #008d49; color: #fff; font-size: 14px; cursor: pointer;}
.shj_srj_recommend{width: 220px; height: auto; border: 1px solid #eee; padding: 15px 10px; margin-top: 20px;}
.shj_srj_recommend>h4>a{font-size: 14px; float: right; margin-top: 3px;}
.shj_srj_recommend>ul>li{width: 220px; height: 65px; padding: 15px 0; border-bottom: 1px solid #eee;}
.shj_srj_recommend>ul>li>img{width: 95px; height: 65px; float: left; margin-right: 13px;}
.shj_srj_recommend_title{float: left; width: 112px; height: 65px;}
.shj_srj_recommend_title>h6{width: inherit; max-height: 36px; overflow-y: hidden;}
.shj_srj_recommend_link{margin: 7px 0 0 5px; color: #fff; background: #319d64; display: block; width: 65px; height: 20px; text-align: center; line-height: 20px; }
.shj_srj_recommend_link:hover{background: #ec792c;}
.shj_srj_recommend_title>a{text-decoration: none;}

/*效果图内容页*/
.shj_sxgt_wrap{width: 100%; height: 100%; overflow: hidden;}
.shj_sxgt_head{width: 100%; height: 80px; min-width: 1400px; background: #fff;  border-bottom: 1px solid #f2f2f2;}
.shj_sxgt_head_logo{width: 356px; height: inherit; background: url('images/shjlogo.jpg') center; float: left; margin-left: 30px;}
.shj_sxgt_head_search{width: auto; height: 60px; margin-left: 80px; padding-top: 20px; float: left;}
.shj_sxgt_head_nav{width: 560px; height: 80px; margin-left: 50px; line-height: 80px; float: left;}
.shj_sxgt_head_nav>ul>li{float: left; margin-left: 20px;}
.shj_sxgt_head_nav>ul>li>a:hover{color: #4ec76a;}
.shj_sxgt_head_nav_small{width: 100px; height: 36px; float: left; border-top: 2px solid #01965f; margin: 20px 60px; position: relative; z-index: 1000; border-bottom: 2px solid #01965f;}
.shj_sxgt_head_nav_small>ul{border-bottom: 2px solid #01965f; width: auto; height: 36px; overflow: hidden; transition: height 0.3s; -moz-transition: height 0.3s; -webkit-transition: height 0.3s; -o-transition: height 0.3s;}
.shj_sxgt_head_nav_small>ul>li{float: none; margin-left: 0; width: 96px; height: 36px; line-height: 36px; text-align: center; font-size: 14px; border-left: 2px solid #01965f; border-right: 2px solid #01965f; background: #f9f9f9;}
.shj_sxgt_head_nav_small>ul:hover{height: 288px;}
.shj_sxgt_head_nav_small>ul>li:hover{background: #edefee; color: #ff343f;}
.shj_sxgt_head_nav_small>ul>li>a{text-decoration: none;}
.shj_sxgt_head_tel{width: 193px; height: inherit; background: url('images/shjtel.jpg') center; float: right; margin-right: 50px;}
.shj_sxgt_box{width: 100%; height: auto; margin-top: 10px; min-width: 1200px; float: left; position: relative;}
.shj_sxgt_left_block{background: #fff; width: 1627px; height: 886px; margin: 0 0 50px 10px; float: left; min-width: 1100px; position: relative;}
.shj_sxgt_left_block_title{width: 100%; float: left;}
.shj_sxgt_crumbs{float: left; width: 70%; height: 40px; margin-left: 20px;}
.shj_sxgt_info_box{ width: 160px; height: 40px; float: right; margin-right: 35px;  line-height: 40px; margin-top: 15px;}
.shj_sxgt_info{color: #989a99; float: left;}
.shj_sxgt_share{float: left; margin-left: 10px;}
.shj_sxgt_imgbox{width: 810px; height: 646px; margin: 30px auto; display:table; text-align: center;}
.shj_sxgt_imgbox>span{display:table-cell; vertical-align:middle;}
#show_bog_img{max-height: 646px; width: auto;}
.shj_sxgt_imgbox_btn{background: url(images/icon.png);  width: 40px; height: 73px; position: absolute; top: 40%; cursor: pointer;}
.shj_sxgt_left_block .prev{background-position: -5px -1402px; left: 30px;}
.shj_sxgt_left_block .next{background-position: -57px -1402px; right: 30px;}
.shj_sxgt_img_controller_box{width: 100%; height: 80px; background: #e6e6e6; padding: 12.5px 0; position: absolute; bottom: 0;}
.shj_sxgt_img_perv,.shj_sxgt_img_next{width: 88px; height: 80px; border: 1px solid #000; position: relative; float: left;}
.shj_sxgt_img_next{float: right;}
.shj_sxgt_img_controller_text{width: 100%; height: 20px; background: rgba(0,0,0,0.7); color: #fff; position: absolute; bottom: 0; left: 0; text-align: center; line-height: 20px;}
.shj_sxgt_img_controller_box img{width: 88px; height: 80px;}
.shj_sxgt_img_controller{width: 970px; height: inherit; margin: 0 auto; }
.shj_sxgt_img_smallimg_box{width: 640px; height: 84px; float: left; overflow: hidden;}
.shj_sxgt_smallimg_bg{width: inherit; height: inherit; position: absolute; top: 0; left: 0; z-index: 10;}
.shj_sxgt_img_smallimg_box .swiper-slide{width: 88px; height: 80px; margin-right: 18px; position: relative; cursor: pointer; border: 2px solid #e6e6e6;}
.shj_sxgt_img_smallimg_box .swiper-slide:last-child{margin-right: 0;}
.shj_sxgt_img_smallimg_box .shj_sxgt_img_smallimg_box_now{border: 2px solid #008d49;}
.shj_sxgt_img_smallimg_num{width: 35px; height: 20px; background: rgba(0,0,0,0.7); color: #fff; position: absolute; bottom: 10px; left: 0; text-align: center; line-height: 20px;}
.shj_sxgt_img_controller_prev{background: url('images/icon.png'); background-position: -0px -884px; width: 30px; height: 80px; float: left; cursor: pointer; margin-left: 45px;}
.shj_sxgt_img_controller_next{background: url('images/icon.png'); background-position: -30px -885px; width: 30px; height: 80px; float: left;  cursor: pointer; }
.shj_sxgt_right_block{ position: absolute; right: 20px; top: 0; margin: 0;}
.shj_sxgt_footer_box,.shj_sxgt_footer{height: 256px;}
.shj_sxgt_bjtc_bg{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.7); display: none; z-index: 9999;}
.shj_sxgt_bjtc_box{width: 100%; height: 100%; display: table;}
.shj_sxgt_bjtc_box>span{display: table-cell; vertical-align: middle;}
.shj_sxgt_bjtc{width: 545px; height: 250px; background: #fff; border-radius: 8px; margin: auto; padding: 40px 70px 35px; position: relative;}
.shj_sxgt_bjtc_rst{width: 545px; height: 90px; background: #f2f2f2; text-align: center; padding-top: 15px}
.shj_sxgt_bjtc_rst>h4{font-size: 18px; }
.shj_sxgt_bjtc_rst>h3{font-size: 44px; color: #f00e0e; line-height: 50px;}
.shj_sxgt_bjtc_text{color: #9f9f9f; margin-top: 15px; width: inherit; text-align: center;}
.shj_sxgt_bjtc_btn{width: 246px; height: 45px; background: #008d49; color: #fff; font-size: 18px; border-radius: 8px; margin: 40px 149.5px 0; cursor: pointer;}
.shj_sxgt_bjtc_text>span{color: #f48000;}

/*侧边计算器*/
.shj_srj_tbm_input_box{width: 218px; height: 30px; border: 1px solid #eee; margin-top: 10px; }
.shj_srj_tjsq_select{width: 70px; height: inherit; border: none; font-size: 12px; color: #a4aaa6; float: left; outline: none; text-indent: 10px;}
.shj_tbm_short_input{width: 148px; height: inherit; float: left; text-indent: 10px;}
.shj_srj_tbm_input_box_bordernoe{border: none; margin-left: -10px; width: 228px;}
.shj_tbm_short_short{width: 64px; border: 1px solid #eee; margin-left: 10px; float: left; color: #a4aaa6;}