
.top_box{width: 100%; height: 35px; background: #f2f2f2;}
.top_menu{width: 1220px; height: inherit; margin: 0 auto;}
.top_city{width: 155px; height: inherit; margin-left: 15px; float: left; line-height: 35px;}
.top_cicon{width: 13px; height: inherit; background: url('images/icon.png') no-repeat; background-position: -78px -819px; margin-right: 5px; float: left;}
.top_xcity{color: #01965f;}
.top_nav_box{height: inherit; width: auto; margin-left: 480px;}
.top_nav{height: 35px; float: right;}
.top_nav li{width: 80px; height: 16px; color: #6e6e6e; border-right: 1px solid #e0e0e0; text-align: center; line-height: 16px; float: left; margin-top: 9.5px;}
.top_nav li:hover{color: #ff343f;}
.top_nav li:last-child{border-right: none; text-align: left;}
.top_nav li:last-child:hover{color: #01965f;}
.top_nav li:nth-child(4){width: 170px;}
.top_nav li:nth-child(6){width: 150px;}
.top_sicon{width: 10px; height: 15px; float: left; margin: 1px 5px 0 12px; background: url('images/icon.png') no-repeat; background-position: -56px -829px;}
.top_ewm_box{width: 110px; height: 0px; background: #f2f2f2; z-index: 999; margin-top: 10px; position: relative; padding: 0 20px; overflow: hidden; transition: height 0.3s; -moz-transition: height 0.3s; -webkit-transition: height 0.3s; -o-transition: height 0.3s;}
.top_ewm_arrow_box{width: 150px; height: 10px;  background: #fff; margin-left: -20px;}
.top_ewm_arrow{width: 0px; height: 0px; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 10px solid #f2f2f2; font-size: 0; line-height: 0; position: absolute; top: 1px; left: 61px;}
.top_ewm{width: 110px; height: 130px; text-align: center; }
.top_ewm_first{margin-top: 16px;}
.top_ewm>h6{margin-top: 5px; color: #000;}
.top_nav li:last-child:hover .top_ewm_box{height: 280px;}
.title_box{width: 100%; height: 120px; background: #fff;}
.title{width: 1220px; height: inherit; margin: 0 auto;}
.logo{width: 356px; height: 120px; float: left;}
.search_box{width: 405px; height: 95px; margin-left: 40px; padding-top: 25px; float: left; overflow: hidden;}
.search_input_box{width: 400px; height: 36px; border: 2px solid #01965f; line-height: 36px; float: left;}
.search_select_box{width: 85px; height: 36px; background: #f9f9f9;  cursor: pointer; border-right: 1px solid #d7d7d7; float: left; }
.search_content{width: 85px; height: 36px; position: relative;}
.search_content>h5{float: left; width: 80px; height: inherit; text-align: center; font-size: 13px;}
.search_jicon{width: 9px; height: 5px; background: url('images/icon.png') no-repeat; background-position: -79px -752px; display: block;  position: absolute; top:  15.5px; right: 8px;}
.search_selects{position: absolute; z-index: 9999; width: 85px; height: 0px; padding: 0 2px; margin-left: -2px; overflow: hidden; transition: height 0.3s; -moz-transition: height 0.3s; -webkit-transition: height 0.3s; -o-transition: height 0.3s;}
.search_select{width: 85px; text-align: center; border-left: 2px solid #01965f; border-right: 2px solid #01965f; background: #f9f9f9; position: relative; z-index: 999; margin-left: -2px;}
.search_select:last-child{border-bottom: 2px solid #01965f; }
.search_select:hover{background: #edefee; color: #ff343f;}
.search_input{width: 220px; height: 36px; text-indent: 10px; float: left; font-size: 14px;}
.search_text{width: 94px; height: 36px; background: #01965f; color: #fff; font-size: 16px; text-align: center; cursor: pointer; float: left;}
.search_select_box:hover .search_selects{height: 110px;}
.search_select_box:hover .search_jicon{transform:rotate(180deg); -ms-transform:rotate(180deg); -moz-transform:rotate(180deg); -webkit-transform:rotate(180deg); -o-transform:rotate(180deg);}
.search_menu{width: inherit; height: 13px; margin-top: 50px; color: #01965f;}
.search_menu ul{width: 500px; height: 13px; overflow: hidden;}
.search_menu ul li{text-align: center; height: 13px; border-right: 1px solid #636363; line-height: 13px; font-size: 13px; float: left; padding: 0 9px; color: #636363;}
.search_menu ul li:last-child{border: none;}
.linzhilin{width: 151px; height: 120px; float: left; margin-left: 40px;}
.tel{width: 193px; height: 120px; margin-left: 30px; float: left; position: relative;}
.head_ftel{width: 193px; height: 24px; top: 87px; position: absolute; font-size: 20px; font-weight: bold; font-style: italic; color: #127a59; text-indent: 10px;}
.nav_box{width: 100%; height: 40px; background: #127a59;}
.nav{width: 100%; height: 40px; margin: 0 auto; background: url('images/bg.jpg') no-repeat; background-position: -540px -160px; }
.nav a{text-decoration: none;}
.nav>ul{height: 40px; float: left;}
.nav>ul>li{color: #fff; font-size: 14px; text-align: center; line-height: 40px; background:rgba(18,122,89,1); float: left; width: 102px;}
.nav>ul>li>a{padding: 10px;}
.nav>ul>li:first-child{background:rgba(18,122,89,0.1);}
.nav>ul>li:hover{background:rgba(18,122,89,0.1); color: #e4f010;}
.nav_anli_box{height: 0px; overflow: hidden; padding: 0px 20px; background:rgba(0,0,0,0.9); float: left; color: #fff; position: relative; z-index: 999; transition: height 0.5s; -moz-transition: height 0.5s; -webkit-transition: height 0.5s; -o-transition: height 0.5s;}
.nav_anli_box>ul{text-align: left; float: left; margin-top: 15px;}
.nav_anli_box>ul:last-child{margin-bottom: 30px;}
.nav_anli_box>ul>h5{font-weight: 400; height: 20px; line-height: 20px;}
.nav_anli_box>ul>li{width: 74px; height: 30px; background: #616161; line-height: 30px; text-align: center; float: left; margin-top: 8px; font-size: 12px;}
.nav_anli_box>ul>li:nth-child(odd){margin-left: 11px;}
.nav_anli_box>ul>li:hover{background: #6aab35;}
.nav_canpin_box{width: 605px; height: 0px; position: relative; z-index: 999; overflow:hidden; transition: height 0.5s; -moz-transition: height 0.5s; -webkit-transition: height 0.5s; -o-transition: height 0.5s;}
.nav_jzzs_box{width: 102px; height: 0px; position: relative; z-index: 999; overflow:hidden; transition: height 0.5s; -moz-transition: height 0.5s; -webkit-transition: height 0.5s; -o-transition: height 0.5s;}
.nav_rzxq_box{width: 102px; height: 0px; position: relative; z-index: 999; overflow:hidden; transition: height 0.5s; -moz-transition: height 0.5s; -webkit-transition: height 0.5s; -o-transition: height 0.5s;}
.nav_sdgz_box{width: 102px; height: 0px; position: relative; z-index: 999; overflow:hidden; transition: height 0.5s; -moz-transition: height 0.5s; -webkit-transition: height 0.5s; -o-transition: height 0.5s;}
.nav_about_box{width: 102px; height: 0px; position: relative; z-index: 999; overflow:hidden; transition: height 0.5s; -moz-transition: height 0.5s; -webkit-transition: height 0.5s; -o-transition: height 0.5s;}
.nav_canpin_box>ul,.nav_jzzs_box>ul,.nav_rzxq_box>ul,.nav_sdgz_box>ul,.nav_about_box>ul{width: 102px; background:rgba(6,78,56,0.95);}
.nav_canpin_box>ul>li,.nav_jzzs_box>ul>li,.nav_rzxq_box>ul>li,.nav_sdgz_box>ul>li,.nav_about_box>ul>li{color: #fff; font-size: 14px; line-height: 50px; height: 50px;}
.nav_canpin_box>ul>li:hover{background: #69aa34;}
.nav_jzzs_box>ul>li:hover{background: #69aa34;}
.nav_rzxq_box>ul>li:hover{background: #69aa34;}
.nav_sdgz_box>ul>li:hover{background: #69aa34;}
.nav_about_box>ul>li:hover{background: #69aa34;}
.nav_canpin_box>ul>li>a,.nav_jzzs_box>ul>li>a,.nav_rzxq_box>ul>li>a,.nav_sdgz_box>ul>li>a,.nav_about_box>ul>li>a{padding: 2px 8px;}
.nav_canpin_lbzs_box{width: 0px; height: 114px; background: #69aa34; top: -50px; left: 102px; padding: 18px 0; z-index: 999; overflow:hidden; transition: width 0.5s; -moz-transition: width 0.5s; -webkit-transition: width 0.5s; -o-transition: width 0.5s;}
.nav_canpin_qszs_box{width: 0px; height: 114px; background: #69aa34; top: 0px; left: 102px; padding: 18px 0; z-index: 999; overflow:hidden; transition: width 0.5s; -moz-transition: width 0.5s; -webkit-transition: width 0.5s; -o-transition: width 0.5s;}
.nav_canpin_lbzs_box>ul,.nav_canpin_qszs_box>ul{width: 492px; height: 114px; color: #fff; float: left; }
.nav_canpin_lbzs_box>h5,.nav_canpin_qszs_box>h5{width: 100px; height: 25px; line-height: 25px; text-align: left; margin-left: 20px;}
.nav_canpin_lbzs_box>ul>li,.nav_canpin_qszs_box>ul>li{height: 114px; float: left; margin-left: 18px; position: relative;}
.nav_canpin_lbzs_box>ul>li>.title,.nav_canpin_qszs_box>ul>li.title{position: absolute; bottom: 0; width:140px; height: 26px; font-size: 13px; line-height: 26px; text-align: center; background: rgba(0,0,0,0.7);}
.nav_canpin_lbzs_box>ul>li>a:hover{text-decoration: underline;}
.nav_canpin_qszs_box>ul>li>a:hover{text-decoration: underline;}


.navList{  display: flex;  flex-direction: column;  justify-content: flex-end;  height:120px;  }

.navLine{  background-color: #127a59;  height:2px;  width:100%;  }
