.newfuwo-sprite, .newfuwo-icon-399, .newfuwo-icon-baojia-act, .newfuwo-icon-baojia, .newfuwo-icon-baoming, .newfuwo-icon-baozhang-act, .newfuwo-icon-baozhang, .newfuwo-icon-bofang, .newfuwo-icon-cailiao-act, .newfuwo-icon-cailiao, .newfuwo-icon-design-act, .newfuwo-icon-design, .newfuwo-icon-detail, .newfuwo-icon-diy, .newfuwo-icon-down, .newfuwo-icon-fengexian, .newfuwo-icon-gongdi-act, .newfuwo-icon-gongdi, .newfuwo-icon-gongqi, .newfuwo-icon-gongzhang, .newfuwo-icon-hesuan-act, .newfuwo-icon-hesuan, .newfuwo-icon-hetong, .newfuwo-icon-jianli-2, .newfuwo-icon-jianli, .newfuwo-icon-jungong-list-act, .newfuwo-icon-jungong-list, .newfuwo-icon-jungong, .newfuwo-icon-more-act, .newfuwo-icon-more, .newfuwo-icon-ruanzhuang-act, .newfuwo-icon-ruanzhuang, .newfuwo-icon-search, .newfuwo-icon-shang, .newfuwo-icon-sheji, .newfuwo-icon-shigong-act, .newfuwo-icon-shigong, .newfuwo-icon-shoufang-act, .newfuwo-icon-shoufang, .newfuwo-icon-sign, .newfuwo-icon-tag-jinpai, .newfuwo-icon-tag-shouxi, .newfuwo-icon-top, .newfuwo-icon-up, .newfuwo-icon-vr-act, .newfuwo-icon-vr, .newfuwo-icon-xuangongsi-act, .newfuwo-icon-xuangongsi, .newfuwo-icon-yanfang-act, .newfuwo-icon-yanfang, .newfuwo-icon-zhunbei-act, .newfuwo-icon-zhunbei, .newfuwo-icon_VR, .newfuwo-icon_hot, .newfuwo-icon_mainfei, .newfuwo-icon_play, .newfuwo-icon_shengshi, .newfuwo-icon_tag-qianyue, .newfuwo-icon_tag-renzheng, .newfuwo-icon_tag-tiyan, .newfuwo-search-bg {
    background-image: url("/fuwo/images/new/pfuwo/newfuwo-s4eb49cd792.png");
    background-repeat: no-repeat
}

.newfuwo-icon-399 {
    background-position: -66px -98px;
    height: 46px;
    width: 66px
}

.newfuwo-icon-baojia-act {
    background-position: -216px -58px;
    height: 40px;
    width: 40px
}

.newfuwo-icon-baojia {
    background-position: -40px -146px;
    height: 40px;
    width: 40px
}

.newfuwo-icon-baoming {
    background-position: -138px -410px;
    height: 72px;
    width: 72px
}

.newfuwo-icon-baozhang-act {
    background-position: -96px -290px;
    height: 48px;
    width: 48px
}

.newfuwo-icon-baozhang {
    background-position: -144px -242px;
    height: 48px;
    width: 48px
}

.newfuwo-icon-bofang {
    background-position: 0 -410px;
    height: 66px;
    width: 66px
}

.newfuwo-icon-cailiao-act {
    background-position: -96px -242px;
    height: 48px;
    width: 48px
}

.newfuwo-icon-cailiao {
    background-position: 0 -290px;
    height: 48px;
    width: 48px
}

.newfuwo-icon-design-act {
    background-position: -210px -194px;
    height: 48px;
    width: 48px
}

.newfuwo-icon-design {
    background-position: -162px -194px;
    height: 48px;
    width: 48px
}

.newfuwo-icon-detail {
    background-position: -32px -40px;
    height: 10px;
    width: 12px
}

.newfuwo-icon-diy {
    background-position: 0 -194px;
    height: 46px;
    width: 66px
}

.newfuwo-icon-down {
    background-position: 0 -40px;
    height: 4px;
    width: 8px
}

.newfuwo-icon-fengexian {
    background-position: -81px -40px;
    height: 16px;
    width: 1px
}

.newfuwo-icon-gongdi-act {
    background-position: -168px -146px;
    height: 48px;
    width: 48px
}

.newfuwo-icon-gongdi {
    background-position: -120px -146px;
    height: 48px;
    width: 48px
}

.newfuwo-icon-gongqi {
    background-position: 0 -554px;
    height: 72px;
    width: 72px
}

.newfuwo-icon-gongzhang {
    background-position: -144px -482px;
    height: 72px;
    width: 72px
}

.newfuwo-icon-hesuan-act {
    background-position: -200px 0;
    height: 40px;
    width: 40px
}

.newfuwo-icon-hesuan {
    background-position: -240px 0;
    height: 40px;
    width: 40px
}

.newfuwo-icon-hetong {
    background-position: 0 -482px;
    height: 72px;
    width: 72px
}

.newfuwo-icon-jianli-2 {
    background-position: -164px -338px;
    height: 72px;
    width: 72px
}

.newfuwo-icon-jianli {
    background-position: 0 -98px;
    height: 46px;
    width: 66px
}

.newfuwo-icon-jungong-list-act {
    background-position: -144px -290px;
    height: 48px;
    width: 48px
}

.newfuwo-icon-jungong-list {
    background-position: -132px -98px;
    height: 48px;
    width: 48px
}

.newfuwo-icon-jungong {
    background-position: -66px -410px;
    height: 72px;
    width: 72px
}

.newfuwo-icon-more-act {
    background-position: -75px -40px;
    height: 12px;
    width: 6px
}

.newfuwo-icon-more {
    background-position: -69px -40px;
    height: 12px;
    width: 6px
}

.newfuwo-icon-ruanzhuang-act {
    background-position: -180px -98px;
    height: 48px;
    width: 48px
}

.newfuwo-icon-ruanzhuang {
    background-position: -228px -98px;
    height: 48px;
    width: 48px
}

.newfuwo-icon-search {
    background-position: 0 0;
    height: 20px;
    width: 20px
}

.newfuwo-icon-shang {
    background-position: -16px -40px;
    height: 4px;
    width: 8px
}

.newfuwo-icon-sheji {
    background-position: -72px -482px;
    height: 72px;
    width: 72px
}

.newfuwo-icon-shigong-act {
    background-position: 0 -242px;
    height: 48px;
    width: 48px
}

.newfuwo-icon-shigong {
    background-position: -48px -242px;
    height: 48px;
    width: 48px
}

.newfuwo-icon-shoufang-act {
    background-position: -66px -194px;
    height: 48px;
    width: 48px
}

.newfuwo-icon-shoufang {
    background-position: -114px -194px;
    height: 48px;
    width: 48px
}

.newfuwo-icon-sign {
    background-position: -44px -40px;
    height: 12px;
    width: 13px
}

.newfuwo-icon-tag-jinpai {
    background-position: -82px -40px;
    height: 18px;
    width: 60px
}

.newfuwo-icon-tag-shouxi {
    background-position: -142px -40px;
    height: 18px;
    width: 60px
}

.newfuwo-icon-top {
    background-position: -57px -40px;
    height: 12px;
    width: 12px
}

.newfuwo-icon-up {
    background-position: -24px -40px;
    height: 4px;
    width: 8px
}

.newfuwo-icon-vr-act {
    background-position: -192px -242px;
    height: 48px;
    width: 48px
}

.newfuwo-icon-vr {
    background-position: 0 -338px;
    height: 48px;
    width: 48px
}

.newfuwo-icon-xuangongsi-act {
    background-position: -192px -290px;
    height: 48px;
    width: 48px
}

.newfuwo-icon-xuangongsi {
    background-position: -48px -290px;
    height: 48px;
    width: 48px
}

.newfuwo-icon-yanfang-act {
    background-position: 0 -146px;
    height: 40px;
    width: 40px
}

.newfuwo-icon-yanfang {
    background-position: -80px -146px;
    height: 40px;
    width: 40px
}

.newfuwo-icon-zhunbei-act {
    background-position: -48px -338px;
    height: 48px;
    width: 48px
}

.newfuwo-icon-zhunbei {
    background-position: -216px -146px;
    height: 48px;
    width: 48px
}

.newfuwo-icon_VR {
    background-position: 0 -58px;
    height: 36px;
    width: 216px
}

.newfuwo-icon_hot {
    background-position: -50px 0;
    height: 18px;
    width: 30px
}

.newfuwo-icon_mainfei {
    background-position: -20px 0;
    height: 18px;
    width: 30px
}

.newfuwo-icon_play {
    background-position: -96px -338px;
    height: 68px;
    width: 68px
}

.newfuwo-icon_shengshi {
    background-position: -8px -40px;
    height: 4px;
    width: 8px
}

.newfuwo-icon_tag-qianyue {
    background-position: -140px 0;
    height: 18px;
    width: 60px
}

.newfuwo-icon_tag-renzheng {
    background-position: -80px 0;
    height: 18px;
    width: 60px
}

.newfuwo-icon_tag-tiyan {
    background-position: -202px -40px;
    height: 18px;
    width: 60px
}

.newfuwo-search-bg {
    background-position: 0 -626px;
    height: 134px;
    width: 280px
}

.gray-bg {
    background-color: #f5f5f5
}

.white-bg {
    background-color: #fff
}

:root .banner a img {
    transform: translate(-50%, -50%);
    margin-top: 0;
    margin-left: 0
}

.banner {
    position: relative;
    margin: 0 auto;
    min-width: 1220px;
    max-width: 1920px;
    height: 380px;
    overflow: hidden
}

.banner ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 380px
}

.banner li {
    margin: 0;
    padding: 0;
    height: 100%
}

.banner a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.banner a img {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 380px;
    margin-left: -50% \9;
    margin-top: -16% \9
}

.banner .banner-pagination {
    position: absolute;
    z-index: 1;
    bottom: 80px !important;
    width: 100%;
    height: 0;
    line-height: 0;
    text-align: center
}

.banner .banner-pagination-item {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 4px;
    width: 40px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color .3s ease-out 0s;
    cursor: pointer
}

.banner .banner-pagination-item:hover {
    background-color: rgba(255, 255, 255, 0.8)
}

.banner .banner-pagination-item.active {
    height: 6px;
    background-color: rgba(255, 255, 255, 0.8)
}

.banner .banner-ctrl-btn {
    position: absolute;
    z-index: 99;
    top: 50%;
    margin-top: -45px;
    width: 60px;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.4);
    border-width: 0;
    font-size: 30px;
    color: #ccc;
    line-height: 90px;
    cursor: pointer;
    outline: none;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: opacity .3s ease-out 0s
}

.banner .banner-ctrl-btn.banner-prev {
    left: 0;
    padding-right: 26px
}

.banner .banner-ctrl-btn.banner-next {
    right: 0;
    padding-left: 26px
}

.banner:hover .banner-ctrl-btn {
    opacity: 1;
    filter: alpha(opacity=100)
}

.compute-price-con {
    width: 810px;
    height: 100px;
    border-radius: 4px;
    background-color: rgba(51, 51, 51, 0.68);
    padding: 15px 30px 0px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 2;
    left: 50%;
    margin-left: -405px;
    top: 443px
}

.compute-price-con .compute-price-title {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px
}

.compute-price-con .compute-price-title > em {
    color: #ffa200
}

.compute-price-con .compute-price-title span {
    margin-left: 10px;
    font-size: 12px;
    color: #ddd;
    padding-left: 10px;
    border-left: 1px solid #999;
    line-height: 12px;
    display: inline-block
}

.compute-price-con .compute-price-title span em {
    color: #ffa200
}

.compute-price-con .form-item {
    float: left;
    margin-right: 10px;
    position: relative
}

.compute-price-con .form-item select, .compute-price-con .form-item input {
    height: 30px;
    border: 1px solid #f0f0f0;
    padding: 0px;
    padding-left: 10px;
    border-radius: 2px;
    line-height: 30px
}

.compute-price-con .form-item select:focus, .compute-price-con .form-item input:focus {
    border-color: #33b371
}

.compute-price-con .form-item select.error, .compute-price-con .form-item input.error {
    border-color: red
}

.compute-price-con .form-item select::-webkit-input-placeholder, .compute-price-con .form-item input::-webkit-input-placeholder {
    color: #b2b2b2;
    font-size: 14px;
    font-family: "Microsoft Yahei"
}

.compute-price-con .form-item .province-select, .compute-price-con .form-item .city-select {
    width: 90px
}

.compute-price-con .form-item .input-phone, .compute-price-con .form-item .input-size {
    width: 210px
}

.compute-price-con .compute-btn {
    display: block;
    width: 110px;
    height: 30px;
    line-height: 30px;
    background: #33b371;
    color: #fff;
    float: right
}

.compute-price-con .compute-btn:hover {
    background: #15894d
}

.baojia-service {
    padding: 20px 0;
    margin-top: 50px;
    clear: both;
    overflow: hidden;
    width: 1220px
}

.baojia-service li {
    float: left;
    height: 120px;
    padding: 30px 10px 30px 30px;
    background-color: #fff;
    width: 287px;
    margin-right: 24px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.baojia-service li:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1)
}

.baojia-service li:nth-child(4) {
    margin-right: 0px
}

.baojia-service li img {
    width: 60px;
    float: left;
    margin-right: 24px
}

.baojia-service li .service-info {
    float: left
}

.baojia-service li .service-info h5 {
    font-size: 20px;
    color: #4d4d4d;
    margin-top: 2px
}

.baojia-service li .service-info span {
    color: #808080;
    font-size: 14px
}

.home-container {
    width: 1220px;
    margin: 0 auto;
    clear: both;
    overflow: hidden
}

.find-zhuangxiu-con .findZX-title {
    font-size: 30px;
    line-height: 30px;
    color: #000;
    text-align: center;
    margin: 0 0 15px;
    padding-top: 50px
}

.find-zhuangxiu-con .findZX-info {
    font-size: 18px;
    line-height: 18px;
    color: #666;
    text-align: center;
    margin-bottom: 40px
}

.find-zhuangxiu-con .findZX-nav {
    height: 30px;
    width: 520px;
    margin: 0 auto
}

.find-zhuangxiu-con .findZX-nav .findZX-nav-li {
    display: block;
    line-height: 30px;
    text-align: center;
    width: 88px;
    height: 30px;
    background: #fff;
    color: #999;
    font-size: 14px;
    float: left;
    margin-right: 20px;
    cursor: pointer
}

.find-zhuangxiu-con .findZX-nav .findZX-nav-li a {
    color: #999
}

.find-zhuangxiu-con .findZX-nav li.active {
    color: #33b371
}

.find-zhuangxiu-con .findZX-nav li:hover {
    color: #33b371
}

.find-zhuangxiu-con .findZX-nav li:hover a {
    color: #33b371
}

.find-zhuangxiu-con .findZX-nav li.findZX-nav-margin0 {
    margin-right: 0px
}

.findZX-company {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 50px
}

.findZX-company .company-list {
    margin: 30px auto;
    width: 1220px;
    padding: 0;
    list-style: none;
    clear: both;
    overflow: hidden;
    display: none
}

.findZX-company ul.active {
    display: block
}

.findZX-company li.company-item-last {
    margin-right: 0px
}

.findZX-company .company-item {
    background: #fff;
    float: left;
    position: relative;
    margin-right: 55px;
    width: 370px;
    height: 476px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.findZX-company .company-item:nth-child(3) {
    margin-right: 0px
}

.findZX-company .company-item:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1)
}

.findZX-company .company-item .company-info {
    height: 236px;
    border: 1px solid #f0f0f0;
    border-top: 0;
    padding-top: 77px
}

.findZX-company .company-item .company-logo {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 185px;
    left: 130px
}

.findZX-company .company-item .company-logo img {
    width: 100%;
    height: 100%;
    border-radius: 100%
}

.findZX-company .company-item .company-link {
    display: block;
    width: 370px;
    height: 240px;
    overflow: hidden
}

.findZX-company .company-item .company-img {
    display: block;
    width: 100%;
    height: 100%;
    border-width: 0
}

.findZX-company .company-item .company-name {
    font-size: 20px;
    line-height: 20px;
    color: #333;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 15px
}

.findZX-company .company-item .company-performance {
    font-size: 16px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px
}

.findZX-company .company-item .company-performance span {
    color: #eb9606
}

.findZX-company .company-item .link-design {
    display: block;
    width: 105px;
    margin: 0 auto;
    height: 34px;
    border: 1px solid #33b371;
    background-color: #fff;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #33b371;
    text-decoration: none;
    transition: all .3s ease-out 0s
}

.findZX-company .company-item .link-design:hover {
    color: #fff;
    background-color: #33b371;
    border-color: #33b371
}

.decoration-company {
    margin-bottom: 50px;
    clear: both;
    overflow: hidden
}

.decoration-company h3 {
    font-size: 30px;
    line-height: 30px;
    color: #000;
    text-align: center;
    margin-bottom: 40px
}

.decoration-company .company-logo-list {
    clear: both;
    overflow: hidden
}

.decoration-company .company-logo-list ul {
    width: 1220px;
    clear: both;
    overflow: hidden;
    border-top: 1px solid #e6e6e6;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1)
}

.decoration-company .company-logo-list ul li {
    float: left;
    width: 305px;
    height: 140px;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding-left: 10px;
    position: relative
}

.decoration-company .company-logo-list ul li .company-name {
    float: left;
    width: 160px;
    height: 100%;
    vertical-align: middle;
    display: table
}

.decoration-company .company-logo-list ul li .company-name span {
    vertical-align: middle;
    font-size: 18px;
    display: table-cell
}

.decoration-company .company-logo-list ul li img {
    float: left;
    margin: 19px 10px;
    width: 102px;
    height: 102px;
    border-radius: 102px;
    border: 1px solid #96d3b4
}

.decoration-company .company-logo-list ul li.tag1 {
    background: url("/fuwo/images/new/common/companyTag1.png") no-repeat
}

.decoration-company .company-logo-list ul li.tag2 {
    background: url("/fuwo/images/new/common/companyTag2.png") no-repeat
}

.decoration-company .company-logo-list ul li.tag3 {
    background: url("/fuwo/images/new/common/companyTag3.png") no-repeat
}

.decoration-company .company-logo-list ul li:nth-child(1) {
    border-left: 1px solid #e6e6e6
}

.decoration-company .company-logo-list ul li:nth-child(5) {
    border-left: 1px solid #e6e6e6
}

.decoration-company .company-logo-list ul li:nth-child(8) a {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #999;
    height: 140px;
    line-height: 140px
}

.work-onliveCon .workOnlive-title {
    font-size: 36px;
    line-height: 30px;
    color: #000;
    text-align: center;
    margin: 0 0 70px;
    padding-top: 50px
}

.work-onliveCon .workOnlive-info {
    font-size: 18px;
    line-height: 18px;
    color: #666;
    text-align: center;
    margin-bottom: 40px
}

.work-onliveCon .workOnlive-example {
    width: 1220px;
    margin: 0 auto;
    padding-bottom: 50px
}

.work-onliveCon .workOnlive-example .example-list {
    margin: 30px auto;
    width: 1220px;
    padding: 0;
    list-style: none;
    clear: both;
    overflow: hidden;
    display: block
}

.work-onliveCon .workOnlive-example ul.active {
    display: block
}

.work-onliveCon .workOnlive-example li.company-item-last {
    margin-right: 0px
}

.work-onliveCon .workOnlive-example .example-item {
    background: #fff;
    float: left;
    position: relative;
    margin-right: 55px;
    width: 370px;
    height: 440px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.work-onliveCon .workOnlive-example .example-item:nth-child(3) {
    margin-right: 0px
}

.work-onliveCon .workOnlive-example .example-item:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1)
}

.work-onliveCon .workOnlive-example .example-item .example-info {
    height: 200px;
    border: 1px solid #f0f0f0;
    border-top: 0;
    padding-top: 45px
}

.work-onliveCon .workOnlive-example .example-item .status-icon {
    color: #eea646;
    display: inline-block;
    padding: 0px 6px;
    border: 1px solid #eea646;
    margin-left: 10px;
    font-size: 12px;
    position: relative;
    top: -1px
}

.work-onliveCon .workOnlive-example .example-item .example-link {
    display: block;
    width: 370px;
    height: 240px;
    overflow: hidden
}

.work-onliveCon .workOnlive-example .example-item .example-img {
    display: block;
    width: 100%;
    height: 100%;
    border-width: 0
}

.work-onliveCon .workOnlive-example .example-item .example-name {
    font-size: 20px;
    line-height: 20px;
    color: #333;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 15px
}

.work-onliveCon .workOnlive-example .example-item .example-performance {
    font-size: 16px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px
}

.work-onliveCon .workOnlive-example .example-item .example-performance span {
    color: #eb9606
}

.work-onliveCon .workOnlive-example .example-item .link-design {
    display: block;
    width: 105px;
    margin: 0 auto;
    height: 34px;
    border: 1px solid #33b371;
    background-color: #fff;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #33b371;
    text-decoration: none;
    transition: all .3s ease-out 0s
}

.work-onliveCon .workOnlive-example .example-item .link-design:hover {
    color: #fff;
    background-color: #33b371;
    border-color: #33b371
}

.server-step {
    height: 470px;
    width: 100%;
    margin: 0 auto;
    background: url("/fuwo/images/new/pfuwo/home/service-step-bg.png") no-repeat;
    clear: both;
    overflow: hidden;
}

.server-step .server-title {
    font-size: 30px;
    text-align: center;
    margin: 50px 0 40px;
    color: #fff
}

.server-step .stepCon {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 1280px;
    margin: 0 auto;
    height: 220px;
    padding-bottom: 40px;
    /*background: url("/fuwo/images/new/pfuwo/home/service-step.png") no-repeat;
    background-position-y: 188px;
    background-position-x: 30px;*/
    background-color:black;
}

.server-step .stepCon li {
    width: 160px;
    height: 180px;
    position: relative;
    float: left
}

.server-step .stepCon li a {
    display: block;
    width: 100%;
    height: 100%
}

.server-step .stepCon li img.step {
    display: block;
    margin: 0 auto;
    margin-top: 18px;
    max-width: 160px;
    max-height: 180px
}

.server-step .stepCon li img.stepCover {
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    display: none
}

.server-step .stepCon li:hover img.stepCover {
    display: block
}

.designer-con h3 {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px
}

.designer-con .design-advantage {
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 40px;
    display: block;
    color: #666
}

.designer-con .designer-list {
    clear: both;
    overflow: hidden
}

.designer-con .designer-list ul {
    margin-right: -10px;
    height: 630px
}

.designer-con .designer-list ul li {
    float: left;
    position: relative;
    width: 232px;
    height: 280px;
    margin-right: 10px;
    margin-bottom: 12px;
    overflow: hidden
}

.designer-con .designer-list ul li > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.designer-con .designer-list ul li .mask {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.3);
    filter: alpha(opacity=30)
}

.designer-con .designer-list ul li:hover .mask {
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0), #000000);
    opacity: .5;
    filter: alpha(opacity=50)
}

.designer-con .designer-list ul li .designer-info {
    margin-top: 160px;
    width: 100%;
    position: relative;
    z-index: 1;
    text-align: center;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5)
}

.designer-con .designer-list ul li .designer-info h5 {
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    margin-bottom: 20px
}

.designer-con .designer-list ul li .designer-info .designer-tag {
    color: #fff;
    margin-bottom: 18px
}

.designer-con .designer-list ul li .designer-info .designer-tag span {
    margin: 0 10px
}

.designer-con .designer-list ul li .designer-info .btn {
    width: 90px;
    color: #fff;
    border: 1px solid #fff;
    height: 24px;
    line-height: 22px
}

.designer-con .designer-list ul li .designer-info .btn:hover {
    background-color: #33b371;
    color: #fff;
    border-color: #33b371
}

.view-con {
    width: 1220px;
    margin: 0 auto;
    background: #fff;
    padding-bottom: 0px
}

.view-con .view-title {
    font-size: 30px;
    line-height: 30px;
    color: #333;
    text-align: center;
    margin: 0 0 15px;
    padding-top: 50px
}

.view-con .view-info {
    font-size: 18px;
    line-height: 18px;
    color: #666;
    text-align: center;
    margin-bottom: 15px
}

.view-con .view-nav {
    height: 18px;
    width: 295px;
    margin: 0 auto
}

.view-con .view-nav .view-nav-li {
    display: block;
    line-height: 18px;
    text-align: center;
    height: 18px;
    padding: 0 15px;
    background: #fff;
    color: #666;
    font-size: 14px;
    float: left;
    cursor: pointer;
    border-right: 1px solid #666
}

.view-con .view-nav li:hover {
    color: #33b371
}

.view-con .view-nav li.view-nav-margin0 {
    margin-right: 0px;
    border-right: none
}

.view-con .case-example {
    width: 1220px;
    margin: 0 auto;
    padding-bottom: 50px
}

.view-con .case-example .example-list {
    margin: 30px auto;
    width: 1220px;
    padding: 0;
    list-style: none;
    clear: both;
    overflow: hidden;
    display: block
}

.view-con .case-example ul.active {
    display: block
}

.view-con .case-example li.company-item-last {
    margin-right: 0px
}

.view-con .case-example .example-item {
    background: #fff;
    float: left;
    position: relative;
    margin-right: 55px;
    width: 370px;
    height: 360px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.view-con .case-example .example-item:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1)
}

.view-con .case-example .example-item:nth-child(3) {
    margin-right: 0px
}

.view-con .case-example .example-item .example-info {
    height: 120px;
    border: 1px solid #f0f0f0;
    border-top: 0;
    padding-top: 20px
}

.view-con .case-example .example-item .example-link {
    display: block;
    width: 370px;
    height: 240px;
    overflow: hidden;
    position: relative
}

.view-con .case-example .example-item .example-link .play-img {
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -33px;
    top: 87px
}

.view-con .case-example .example-item .example-img {
    display: block;
    width: 100%;
    height: 100%;
    border-width: 0
}

.view-con .case-example .example-item .example-name {
    font-size: 20px;
    line-height: 20px;
    color: #333;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 15px
}

.view-con .case-example .example-item .link-design {
    display: block;
    width: 105px;
    margin: 0 auto;
    height: 34px;
    border: 1px solid #33b371;
    background-color: #fff;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #33b371;
    text-decoration: none;
    transition: all .3s ease-out 0s
}

.view-con .case-example .example-item .link-design:hover {
    color: #fff;
    background-color: #33b371;
    border-color: #33b371
}

.decoration-security-list {
    padding-bottom: 50px;
    clear: both;
    overflow: hidden
}

.decoration-security-list h3 {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px
}

.decoration-security-list .design-advantage {
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 40px;
    display: block;
    color: #666
}

.decoration-security-list ul {
    clear: both;
    overflow: hidden;
    width: 1220px
}

.decoration-security-list ul li {
    float: left;
    width: 380px;
    height: 238px;
    padding: 27px 30px 10px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    margin-right: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.decoration-security-list ul li:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2)
}

.decoration-security-list ul li:nth-child(3) {
    margin-right: 0px
}

.decoration-security-list ul li .item-title {
    font-size: 30px;
    color: #33b371;
    margin-bottom: 14px;
    text-align: center
}

.decoration-security-list ul li .item-title:before {
    content: '';
    display: inline-block;
    width: 47px;
    height: 42px;
    margin-right: 14px;
    margin-bottom: -13px
}

.decoration-security-list ul li.independent-supervision .item-title:before {
    background: url("/fuwo/images/new/pfuwo/home/vip_ic.png") center no-repeat
}

.decoration-security-list ul li.decoration-security .item-title:before {
    background: url("/fuwo/images/new/pfuwo/home/warranty_ic.png") center no-repeat
}

.decoration-security-list ul li.escrow .item-title:before {
    background: url("/fuwo/images/new/pfuwo/home/capital_ic.png") center no-repeat
}

.decoration-security-list ul li span {
    display: block;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333
}

.decoration-security-list ul li p {
    font-size: 16px;
    color: #808080
}

.stydyZX-con {
    width: 100%
}

.stydyZX-con .container-con {
    width: 1220px;
    margin: 0 auto;
    padding-bottom: 50px
}

.stydyZX-con .stydyZX-title {
    font-size: 30px;
    line-height: 30px;
    color: #333;
    text-align: center;
    margin: 0 0 15px;
    padding-top: 50px
}

.stydyZX-con .zx-nav {
    padding: 0px;
    margin: 0px;
    width: 300px;
    height: 18px;
    margin: 0 auto
}

.stydyZX-con .zx-nav li {
    display: block;
    float: left
}

.stydyZX-con .zx-nav li a {
    color: #333
}

.stydyZX-con .zx-nav li a:hover {
    color: #33b371
}

.stydyZX-con .stydyZX-list {
    margin: 40px -2px 0;
    padding: 0;
    list-style: none;
    width: 1220px;
    clear: both;
    overflow: hidden
}

.stydyZX-con li.stydyZX-item-last {
    margin-right: 0px
}

.stydyZX-con .info-link {
    display: none
}

.stydyZX-con .active {
    display: block
}

.stydyZX-con .stydyZX-item {
    -webkit-transition: all .7s;
    transition: all .7s;
    position: relative;
    background: #fff;
    float: left;
    margin-right: 25px;
    border: 1px solid #f0f0f0
}

.beforeZX-li {
    width: 335px
}

.beforeZX-li .tipHeader {
    height: 60px;
    background: url("/fuwo/images/new/pfuwo/home/zx-tag1.png") no-repeat;
    padding: 0px 10px;
    border-bottom: 1px solid #f5f5f5;
    background-position: 260px -28px
}

.beforeZX-li .tipHeader a {
    display: inline-block;
    height: 60px;
    font-size: 14px;
    margin: 0px 10px;
    line-height: 60px;
    font-weight: bold
}

.beforeZX-li .tipHeader a.active {
    color: #33b371;
    border-bottom: 4px solid #33b371
}

.beforeZX-li .tipCon {
    display: none;
    padding: 15px;
    height: 253px
}

.beforeZX-li .tipCon a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 32px;
    color: #999
}

.beforeZX-li .tipCon a:hover {
    color: #33b371
}

.beforeZX-li .tipCon.active {
    display: block
}

.ingZX-li {
    width: 594px
}

.ingZX-li .tipHeader {
    height: 60px;
    background: url("/fuwo/images/new/pfuwo/home/zx-tag2.png") no-repeat;
    padding: 0px 10px;
    border-bottom: 1px solid #f5f5f5;
    background-position: 520px -28px
}

.ingZX-li .tipHeader a {
    display: inline-block;
    height: 60px;
    font-size: 14px;
    margin: 0px 10px;
    line-height: 60px;
    font-weight: bold
}

.ingZX-li .tipHeader a.active {
    color: #ffa10e;
    border-bottom: 4px solid #ffa10e
}

.ingZX-li .tipCon {
    display: none;
    padding: 15px
}

.ingZX-li .tipCon a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 32px;
    color: #999
}

.ingZX-li .tipCon a:hover {
    color: #ffa10e
}

.ingZX-li .tipCon a span {
    float: right
}

.ingZX-li .tipCon.active {
    display: block
}

.afterZX-li {
    width: 240px
}

.afterZX-li .tipHeader {
    height: 60px;
    background: url("/fuwo/images/new/pfuwo/home/zx-tag3.png") no-repeat;
    padding: 0px 10px;
    border-bottom: 1px solid #f5f5f5;
    background-position: 165px -28px
}

.afterZX-li .tipHeader a {
    display: inline-block;
    height: 60px;
    font-size: 14px;
    margin: 0px 10px;
    line-height: 60px;
    font-weight: bold
}

.afterZX-li .tipHeader a.active {
    color: #93a4dc;
    border-bottom: 4px solid #93a4dc
}

.afterZX-li .tipCon {
    display: none;
    padding: 15px
}

.afterZX-li .tipCon a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 32px;
    color: #999
}

.afterZX-li .tipCon a:hover {
    color: #93a4dc
}

.afterZX-li .tipCon.active {
    display: block
}

.about-con {
    width: 1220px;
    margin: 0 auto;
    padding-bottom: 0px
}

.about-con .about-title {
    font-size: 30px;
    line-height: 30px;
    color: #333;
    text-align: center;
    margin: 0 0 15px;
    padding-top: 50px
}

.about-con .about-example {
    width: 1220px;
    margin: 0 auto;
    padding-bottom: 50px;
    clear: both;
    overflow: hidden
}

.about-con .about-example .example-list {
    margin: 30px auto;
    width: 1220px;
    padding: 0;
    list-style: none;
    clear: both;
    overflow: hidden;
    display: block
}

.about-con .about-example ul.active {
    display: block
}

.about-con .about-example li.company-item-last {
    margin-right: 0px
}

.about-con .about-example .example-item {
    background: #fff;
    float: left;
    position: relative;
    margin-right: 55px;
    width: 370px;
    height: 310px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.about-con .about-example .example-item:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1)
}

.about-con .about-example .example-item:nth-child(3) {
    margin-right: 0px
}

.about-con .about-example .example-item .example-info {
    height: 70px;
    border: 1px solid #f0f0f0;
    border-top: 0;
    padding-top: 20px
}

.about-con .about-example .example-item .example-link {
    display: block;
    width: 370px;
    height: 240px;
    overflow: hidden
}

.about-con .about-example .example-item .example-img {
    display: block;
    width: 100%;
    height: 100%;
    border-width: 0
}

.about-con .about-example .example-item .example-name {
    font-size: 16px;
    line-height: 20px;
    color: #333;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 15px;
    padding: 0px 10px
}

.about-con .about-example .example-item .link-design {
    display: block;
    width: 105px;
    margin: 0 auto;
    height: 34px;
    border: 1px solid #33b371;
    background-color: #fff;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #33b371;
    text-decoration: none;
    transition: all .3s ease-out 0s
}

.about-con .about-example .example-item .link-design:hover {
    color: #fff;
    background-color: #33b371;
    border-color: #33b371
}

.invite-form-wrapper {
    position: relative;
    margin: 0 auto;
    width: 1220px;
    height: 0
}

.invite-form-wrapper .invite-form {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 0
}

.invite-form {
    margin: 0;
    padding: 0;
    width: 340px;
    border: 1px solid #f0f0f0;
    background-color: #fff
}

.invite-form .form-header {
    padding: 0 19px;
    height: 57px;
    border-bottom: 1px solid #f0f0f0;
    line-height: 56px;
    color: #33b371;
    font-size: 24px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.invite-form .form-content {
    padding: 0 19px
}

.invite-form .form-content p {
    margin: 10px 0;
    color: #666;
    font-size: 12px;
    line-height: 16px;
    word-break: break-all
}

.invite-form .form-content p em {
    margin: 0 2px;
    color: #33b371
}

.invite-form .form-content .form-item {
    position: relative;
    margin-bottom: 16px;
    height: 40px
}

.invite-form .form-content .form-item.btn-right {
    position: relative;
    padding: 0 158px 0 0
}

.invite-form .form-content .form-item.btn-right .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 142px
}

.invite-form .form-content .btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #33b371;
    border-radius: 0;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    transition: all .3s ease-out 0s
}

.invite-form .form-content .btn:hover {
    background-color: #15894d
}

.invite-form .form-content .btn.full-width {
    display: block;
    width: 100%
}

.invite-form .form-content .btn:disabled {
    background-color: #ccc;
    cursor: not-allowed
}

.invite-form .form-content .text-input-box {
    height: 40px;
    padding: 4px 19px;
    border: 1px solid #f0f0f0;
    line-height: 30px
}

.invite-form .form-content .text-input-box.full-width {
    display: block;
    width: 100%
}

.invite-form .form-content .text-input-box:focus {
    border-color: #33b371
}

.invite-form .form-content .text-input-box.error {
    border-color: red
}

.invite-form .form-content .text-input-box::-webkit-input-placeholder {
    color: #b2b2b2;
    font-size: 14px;
    font-family: "Microsoft Yahei"
}

.invite-form .form-content .select-box {
    width: 142px;
    height: 40px;
    border: 1px solid #f0f0f0;
    padding: 10px 9px;
    outline: none
}

.invite-form .form-content .select-box:focus {
    border-color: #33b371
}

.invite-form .form-content .select-box.error {
    border-color: red
}

.invite-form .form-content .province-select {
    display: block;
    float: left
}

.invite-form .form-content .city-select {
    display: block;
    float: right
}

@media screen and (min-width: 1460px) {
    .banner {
        position: relative;
        margin: 0 auto;
        min-width: 1220px;
        max-width: 1920px;
        height: 540px;
        overflow: hidden
    }

    .banner ul {
        margin: 0;
        padding: 0;
        list-style: none;
        height: 540px
    }

    .banner li {
        margin: 0;
        padding: 0;
        height: 540px
    }

    .banner a {
        display: block;
        position: relative;
        width: 100%;
        height: 540px;
        overflow: hidden
    }

    .banner a img {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 1920px;
        height: 540px;
        border-width: 0
    }

    .banner .banner-pagination {
        position: absolute;
        z-index: 1;
        bottom: 90px !important;
        width: 100%;
        height: 0;
        line-height: 0;
        text-align: center
    }

    .banner .banner-pagination-item {
        display: inline-block;
        vertical-align: bottom;
        margin: 0 4px;
        width: 40px;
        height: 4px;
        background-color: rgba(255, 255, 255, 0.5);
        transition: background-color .3s ease-out 0s;
        cursor: pointer
    }

    .banner .banner-pagination-item:hover {
        background-color: rgba(255, 255, 255, 0.8)
    }

    .banner .banner-pagination-item.active {
        height: 6px;
        background-color: rgba(255, 255, 255, 0.8)
    }

    .banner .banner-ctrl-btn {
        position: absolute;
        z-index: 99;
        top: 50%;
        margin-top: -45px;
        width: 60px;
        height: 90px;
        background-color: rgba(0, 0, 0, 0.4);
        border-width: 0;
        font-size: 30px;
        color: #ccc;
        line-height: 90px;
        cursor: pointer;
        outline: none;
        opacity: 0;
        transition: opacity .3s ease-out 0s
    }

    .banner .banner-ctrl-btn.banner-prev {
        left: 0;
        padding-right: 26px
    }

    .banner .banner-ctrl-btn.banner-next {
        right: 0;
        padding-left: 26px
    }

    .banner:hover .banner-ctrl-btn {
        opacity: 1;
        filter: alpha(opacity=100)
    }

    .compute-price-con {
        width: 960px;
        height: 140px;
        border-radius: 4px;
        background-color: rgba(51, 51, 51, 0.68);
        padding: 20px 30px 0px 30px;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
        position: absolute;
        z-index: 2;
        left: 50%;
        margin-left: -480px;
        top: 586px
    }

    .compute-price-con .compute-price-title {
        color: #fff;
        font-size: 20px;
        margin-bottom: 18px
    }

    .compute-price-con .compute-price-title > em {
        color: #ffa200
    }

    .compute-price-con .compute-price-title span {
        margin-left: 10px;
        font-size: 14px;
        color: #ddd;
        padding-left: 10px;
        border-left: 1px solid #999;
        line-height: 14px;
        display: inline-block
    }

    .compute-price-con .compute-price-title span em {
        color: #ffa200
    }

    .compute-price-con .form-item {
        float: left;
        margin-right: 20px
    }

    .compute-price-con .form-item select, .compute-price-con .form-item input {
        height: 40px;
        border: 1px solid #f0f0f0;
        padding: 0px;
        padding-left: 20px;
        border-radius: 2px;
        line-height: 40px
    }

    .compute-price-con .form-item select:focus, .compute-price-con .form-item input:focus {
        border-color: #33b371
    }

    .compute-price-con .form-item select.error, .compute-price-con .form-item input.error {
        border-color: red
    }

    .compute-price-con .form-item select::-webkit-input-placeholder, .compute-price-con .form-item input::-webkit-input-placeholder {
        color: #b2b2b2;
        font-size: 14px;
        font-family: "Microsoft Yahei"
    }

    .compute-price-con .form-item .province-select, .compute-price-con .form-item .city-select {
        width: 110px
    }

    .compute-price-con .form-item .input-phone, .compute-price-con .form-item .input-size {
        width: 240px
    }

    .compute-price-con .compute-btn {
        display: block;
        width: 110px;
        height: 40px;
        line-height: 40px;
        background: #33b371;
        color: #fff;
        float: right
    }

    .compute-price-con .compute-btn:hover {
        background: #15894d
    }

    .baojia-service {
        margin-top: 70px;
        padding: 40px 0
    }

    .baojia-service li img {
        width: 68px
    }

    .baojia-service li .service-info h5 {
        font-size: 24px
    }

    .baojia-service li .service-info span {
        font-size: 16px
    }

    .find-zhuangxiu-con .findZX-title {
        font-size: 36px;
        line-height: 36px;
        margin: 0 0 24px;
        padding-top: 80px
    }

    .find-zhuangxiu-con .findZX-info {
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 70px
    }

    .findZX-company {
        margin-bottom: 80px
    }

    .decoration-company {
        margin-bottom: 80px
    }

    .decoration-company h3 {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 70px
    }

    .server-step {
        height: 475px
    }

    .server-step .server-title {
        font-size: 36px;
        margin: 80px 0 70px;
        line-height: 36px
    }

    .view-con {
        padding-bottom: 0px
    }

    .view-con .view-title {
        font-size: 36px;
        line-height: 36px;
        margin: 0 0 20px;
        padding-top: 80px
    }

    .view-con .view-info {
        font-size: 22px;
        margin-bottom: 30px
    }

    .view-con .view-item {
        margin: 70px auto 0
    }

    .example-con {
        padding-bottom: 80px
    }

    .example-con .example-title {
        font-size: 36px;
        line-height: 36px;
        margin: 0 0 20px;
        padding-top: 80px
    }

    .example-con .example-info {
        font-size: 22px;
        margin-bottom: 70px
    }

    .designer-con h3 {
        font-size: 36px;
        line-height: 36px;
        padding-top: 80px;
        margin-bottom: 24px
    }

    .designer-con .design-advantage {
        font-size: 22px;
        margin-bottom: 70px
    }

    .stydyZX-con .container-con {
        padding-bottom: 80px
    }

    .stydyZX-con .stydyZX-title {
        font-size: 36px;
        line-height: 36px;
        margin: 0 0 20px;
        padding-top: 80px
    }

    .decoration-security-list {
        padding-bottom: 80px
    }

    .decoration-security-list h3 {
        font-size: 36px;
        line-height: 36px;
        margin-top: 80px;
        margin-bottom: 24px
    }

    .decoration-security-list .design-advantage {
        font-size: 22px;
        margin-bottom: 70px
    }
}
