
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<include file="Public:head" />
	<title> 装修效果图</title>
	<link rel="stylesheet" href="__HOME__/css/about.css" />
</head>
<body>
<!--文件路径-->
<input type="hidden" value="http://www.shj.cn/statics/2017/" id="file_path">
<!--顶部开始-->

<include file="Public:header" />
<style>
    .ztbd{width: 1100px; position: relative; height: auto; margin: auto;}
</style>
<div style="background:url(http://www.shj.cn/statics/2017/about/bg.jpg) center top;" class="content-width center">
    <div class="ztbd"><img src='http://www.shj.cn/statics/2017/about/1_02.jpg' /></div>
    <div class="ztbd"><img src='http://www.shj.cn/statics/2017/about/1_04.jpg' /></div>
    <div class="ztbd"><img src="http://www.shj.cn/statics/2017/about/1_05.jpg" /></div>
    <div class="ztbd"><img src="http://www.shj.cn/statics/2017/about/1_06.jpg" /></div>
    <div class="ztbd"><img src="http://www.shj.cn/statics/2017/about/1_07.jpg" /></div>
    <div class="ztbd"><img src='http://www.shj.cn/statics/2017/about/1_08.jpg' /></div>
    <div class="ztbd"><img src='http://www.shj.cn/statics/2017/about/1_09.jpg' /></div>
</div>
<!--底部开始-->
<include file="Public:footer" />
<!--底部结束-->
<script type="text/javascript" src="__JS__/swiper-3.2.5/swiper-3.2.5.min.js"></script>
<script type="text/javascript" src="__HOME__/js/index.js"></script>
<script type="text/javascript" src="__JS__/layer/layer.js"></script>
<script type="text/javascript" src="__HOME__/js/jsq.js"></script>
<script type="text/javascript" src="__HOME__/js/bj.js"></script>
<!--<script type='text/javascript' src='http://chat.53kf.com/kf.php?arg=sdlcjt&style=22'></script>-->

</body>
</html>